---
import { Icon } from 'astro-icon/components';
import Image from 'astro/components/Image.astro';

import gameWorldImg from '@/assets/img/example/game-world.png';
import LuxTripImg from '@/assets/img/example/lux-trips.png';
import VnotesImg from '@/assets/img/example/v-notes.png';
import NeoMorphimg from '@/assets/img/example/form.png';
import SmartHomeImg from '@/assets/img/example/smart-home.png';
import RosLogImg from '@/assets/img/example/roslogistic.png';

import TanStackImg from '@/assets/img/tanstack.png';
import SupabaseImg from '@/assets/img/supabase.png';
import ViteImg from '@/assets/img/vite.png';
---

<section class="works" id="works">
    <div class="container">
        <h2 class="works__title">Работы</h2>
        <div class="works__wrapper">
            <section class="works__item">
                <div class="works__img">
                    <Image src={gameWorldImg} width={gameWorldImg.width} height={gameWorldImg.height} densities={[2, 3]} alt="Games world screenshot" />
                </div>
                <div class="works__content">
                    <div class="works__top">
                        <p class="works__type">Multi-page service</p>
                        <h3 class="works__name">Game World</h3>
                    </div>
                    <p class="works__descr">Информационный сервис с игровой тематикой.</p>
                    <div class="works__tech">
                        <div class="works__icon">
                            <Icon name="stack/vue" width={34} height={34} />
                            <div class="works__tooltip">Vue</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/ts" width={34} height={34} />
                            <div class="works__tooltip">TypeScript</div>
                        </div>
                        <div class="works__icon">
                            <Image src={ViteImg} width={34} height={34} densities={[2, 3]} alt="Vite logo" />
                            <div class="works__tooltip">Vite</div>
                        </div>
                        <div class="works__icon">
                            <Image src={TanStackImg} width={34} height={34} densities={[2, 3]} alt="Tanstack logo" />
                            <div class="works__tooltip">TanStack</div>
                        </div>
                        <div class="works__icon">
                            <Image src={SupabaseImg} width={34} height={34} densities={[2, 3]} alt="Supabase logo" />
                            <div class="works__tooltip">Supabase</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/scss" width={34} height={34} />
                            <div class="works__tooltip">Scss</div>
                        </div>
                    </div>

                    <div class="works__block">
                        <a class="works__visit" href="https://the-games-world.netlify.app/" target="_blank">Посетить</a>

                        <a class="works__git-link" href="https://github.com/Alexander-Shulginov/Games_World" target="_blank" aria-label="Github link">
                            <Icon name="stack/github" width={34} height={34} />
                        </a>
                    </div>
                </div>
            </section>

            <section class="works__item">
                <div class="works__img">
                    <Image src={LuxTripImg} width={LuxTripImg.width} height={LuxTripImg.height} densities={[2, 3]} alt="LuxTrip screenshot" />
                </div>
                <div class="works__content">
                    <div class="works__top">
                        <p class="works__type">Landing page</p>
                        <h3 class="works__name">Lux Trips</h3>
                    </div>
                    <p class="works__descr">Необычайно красивый лендинг для туристического сервиса.</p>
                    <div class="works__tech">
                        <div class="works__icon">
                            <Icon name="stack/pug" width={34} height={34} />
                            <div class="works__tooltip">Pug</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/scss" width={34} height={34} />
                            <div class="works__tooltip">Scss</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/gulp" width={34} height={34} />
                            <div class="works__tooltip">Gulp</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/swiper" width={34} height={34} />
                            <div class="works__tooltip">Swiper</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/gsap" width={34} height={34} />
                            <div class="works__tooltip">GSAP</div>
                        </div>
                    </div>
                    <div class="works__block">
                        <a class="works__visit" href="https://lux-trips.netlify.app/" target="_blank">Посетить</a>

                        <a class="works__git-link" href="https://github.com/Alexander-Shulginov/LuxTrips" target="_blank" aria-label="Github link">
                            <Icon name="stack/github" width={34} height={34} />
                        </a>
                    </div>
                </div>
            </section>
            <section class="works__item">
                <div class="works__img">
                    <Image src={VnotesImg} width={VnotesImg.width} height={VnotesImg.height} densities={[2, 3]} alt="V-notes screenshot" />
                </div>
                <div class="works__content">
                    <div class="works__top">
                        <p class="works__type">SPA</p>
                        <h3 class="works__name">V-Notes</h3>
                    </div>
                    <p class="works__descr">SPA-приложение для работы с личными заметками.</p>
                    <div class="works__tech">
                        <div class="works__icon">
                            <Icon name="stack/vue" width={34} height={34} />
                            <div class="works__tooltip">Vue</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/ts" width={34} height={34} />
                            <div class="works__tooltip">TypeScript</div>
                        </div>
                        <div class="works__icon">
                            <Image src={ViteImg} width={34} height={34} densities={[2, 3]} alt="Vite logo" />
                            <div class="works__tooltip">Vite</div>
                        </div>
                    </div>
                    <div class="works__block">
                        <a class="works__visit" href="https://v-notes-dev.netlify.app/" target="_blank">Посетить</a>
                        <a class="works__git-link" href="https://github.com/Alexander-Shulginov/V-Notes" target="_blank" aria-label="Github link">
                            <Icon name="stack/github" width={34} height={34} />
                        </a>
                    </div>
                </div>
            </section>
            <section class="works__item">
                <div class="works__img">
                    <Image src={NeoMorphimg} width={NeoMorphimg.width} height={NeoMorphimg.height} densities={[2, 3]} alt="Form screenshot" />
                </div>
                <div class="works__content">
                    <div class="works__top">
                        <p class="works__type">Authorization</p>
                        <h3 class="works__name">Neomorphism form</h3>
                    </div>
                    <p class="works__descr">Форма авторизации выполненная в стиле неоморфизм.</p>
                    <div class="works__tech">
                        <div class="works__icon">
                            <Icon name="stack/ts" width={34} height={34} />
                            <div class="works__tooltip">TypeScript</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/webpack" width={34} height={34} />
                            <div class="works__tooltip">Webpack</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/html" width={34} height={34} />
                            <div class="works__tooltip">HTML</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/css-new" width={34} height={34} />
                            <div class="works__tooltip">CSS</div>
                        </div>
                    </div>
                    <div class="works__block">
                        <a class="works__visit" href="https://alexander-shulginov.github.io/Auth-form/" target="_blank">Посетить</a>
                        <a class="works__git-link" href="https://github.com/Alexander-Shulginov/Auth-form" target="_blank" aria-label="Github link">
                            <Icon name="stack/github" width={34} height={34} />
                        </a>
                    </div>
                </div>
            </section>
            <section class="works__item">
                <div class="works__img">
                    <Image src={SmartHomeImg} width={SmartHomeImg.width} height={SmartHomeImg.height} densities={[2, 3]} alt="SmartHome screenshot" />
                </div>
                <div class="works__content">
                    <div class="works__top">
                        <p class="works__type">Promo page</p>
                        <h3 class="works__name">Smart-Home</h3>
                    </div>
                    <p class="works__descr">Промо сайт предоставляющий услуги для "умного" дома.</p>
                    <div class="works__tech">
                        <div class="works__icon">
                            <Icon name="stack/html" width={34} height={34} />
                            <div class="works__tooltip">HTML</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/scss" width={34} height={34} />
                            <div class="works__tooltip">SCSS</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/js" width={34} height={34} />
                            <div class="works__tooltip">JavaScript</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/gsap" width={34} height={34} />
                            <div class="works__tooltip">GSAP</div>
                        </div>
                    </div>
                    <div class="works__block">
                        <a class="works__visit" href="https://alexander-shulginov.github.io/Smart-Home/" target="_blank">Посетить</a><a class="works__git-link" href="https://github.com/Alexander-Shulginov/Smart-Home" target="_blank" aria-label="Github link">
                            <Icon name="stack/github" width={34} height={34} />
                        </a>
                    </div>
                </div>
            </section>
            <section class="works__item">
                <div class="works__img">
                    <Image src={RosLogImg} width={RosLogImg.width} height={RosLogImg.height} densities={[2, 3]} alt="RosLogistic screenshot" />
                </div>
                <div class="works__content">
                    <div class="works__top">
                        <p class="works__type">Landing page</p>
                        <h3 class="works__name">RosLogistic</h3>
                    </div>
                    <p class="works__descr">Современный лендинг крупной логистической компании.</p>
                    <div class="works__tech">
                        <div class="works__icon">
                            <Icon name="stack/pug" width={34} height={34} />
                            <div class="works__tooltip">Pug</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/scss" width={34} height={34} />
                            <div class="works__tooltip">SCSS</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/js" width={34} height={34} />
                            <div class="works__tooltip">JavaScript</div>
                        </div>
                        <div class="works__icon">
                            <Icon name="stack/gulp" width={34} height={34} />
                            <div class="works__tooltip">Gulp</div>
                        </div>
                    </div>
                    <div class="works__block">
                        <a class="works__visit" href="https://alexander-shulginov.github.io/RosLogistic-website/" target="_blank">Посетить</a>
                        <a class="works__git-link" href="https://github.com/Alexander-Shulginov/RosLogistic-website" target="_blank" aria-label="Github link">
                            <Icon name="stack/github" width={34} height={34} />
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<style lang="scss">
    .works {
        padding-bottom: 180px;

        &__title {
            margin-bottom: 56px;
            font-size: $fz-title-section;
            color: $color-light;
            text-align: center;

            @media (max-width: 768px) {
                margin-bottom: 32px;
                font-size: $fz-title-secion-mobile;
            }
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 44px;

            @media (max-width: 768px) {
                transform: translateX(-3px);
                grid-template-columns: 1fr;
                gap: 24px;
            }
        }

        &__item {
            display: flex;
            gap: $gap-base;

            padding: 30px;

            color: $color-light;

            background-color: $bg-dark;
            border: 2px solid $bg-light;
            border-radius: $radius-base;
            box-shadow: 5px 5px 0 0 $bg-light;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 10px;
                padding: 18px;
            }
        }

        &__img {
            img {
                aspect-ratio: 16 / 9;
                max-width: 335px;
                height: 100%;

                object-fit: cover;
                border-radius: 6px;

                @media (max-width: 768px) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }

        &__top {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: space-between;

            width: 100%;
        }

        &__type {
            font-size: 14px;
            color: $color-decor;
        }

        &__name {
            font-size: 24px;
        }

        &__descr {
            margin-bottom: 8px;
        }

        &__tech {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            align-items: center;

            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin-bottom: 22px;
            }
        }

        &__icon {
            position: relative;

            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;

            @media (any-hover: hover) {
                &:hover {
                    .works__tooltip {
                        opacity: 1;
                    }
                }
            }
        }

        &__tooltip {
            position: absolute;
            bottom: -23px;

            padding: 1px 10px;

            font-size: 10px;

            opacity: 0;
            background-color: rgba(120, 120, 120);
            border-radius: 4px;

            transition: opacity 0.3s ease-in-out;

            &::after {
                content: '';

                position: absolute;
                top: -4px;
                left: 50%;
                transform: rotate(0deg) translateX(-50%);

                width: 0px;
                height: 0px;

                border-color: transparent transparent rgba(120, 120, 120) transparent;
                border-style: solid;
                border-width: 0 6px 5px 6px;
            }
        }

        &__visit {
            cursor: pointer;

            position: relative;

            padding: 9px 16px;
            padding-right: 36px;

            color: $bg-dark;

            background-color: $color-light;
            border-radius: 6px;

            transition: opacity 0.3s ease-in-out;
            &::after {
                content: '';

                position: absolute;
                top: 50%;
                right: 11px;
                transform: translateY(-50%) scale(0.9);
                background-image: url(../assets/icons/social/go-to.svg);

                width: 16px;
                height: 16px;

                background-repeat: no-repeat;
                background-size: 16px;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__git-link {
            height: 34px;
            transition: opacity 0.2s ease-in-out;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        @media (max-width: 768px) {
            padding-bottom: 120px;
        }
    }
</style>
