//-  Details --> https://ogp.me/#no_vertical
-
    var og = {
        disabled: false,
        title: "Portfolio Shulginov Alexander", 
        type: "website", // "website" "article" "profile" "book" "music" "video"
        img: {
            url: ("https://alexander-shulginov.github.io/Portfolio-src/img/og-img-new.webp"), 
            alt: "Portfolio photo", 
            width: 1200, // (recommended: 1200x630px)
            height: 630, 
        }, 
        url: "https://alexander-shulginov.github.io/Portfolio-src/", // page url
        descr: "HTML верстальщик / Frontend разработчик",
        siteName: "Portfolio", 
    }

if !og.disabled

    if og.title 
        meta(property="og:title", content=og.title)

    if og.type 
        meta(property="og:type", content=og.type) 

    if og.img.url 
        meta(property="og:image", content=og.img.url) 

    if og.img.alt 
        meta(property="og:image:alt", content=og.img.alt) 

    if og.img.width 
        meta(property="og:image:width", content=og.img.width) 

    if og.img.height 
        meta(property="og:image:height", content=og.img.height) 

    if og.url 
        meta(property="og:url", content=og.url) 

    if og.descr 
        meta(property="og:description", content=og.descr) 

    if og.siteName 
        meta(property="og:site_name", content=og.siteName) 
